@font-face {
    font-family: 'Hachi Maru Pop';
    src: url(HachiMaruPop-Regular.ttf);
}
  
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #363636;
    text-align: center;
	overflow-x: hidden;
}

.header-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 1024px;
    padding: 4em 1.5em 3em;
}

.main-title {
    font-family: 'Hachi Maru Pop', Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1.25em;
    text-transform: capitalize;
    padding-bottom: .5em;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-button {
    display: inline-block;
    background-color: #363636;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #363636;
    border-left: 2px solid #363636;
    border-bottom-left-radius: 10px;
    padding: 1em 2em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #ffffff;
    color: #363636;
  }

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 2em;
    width: 90%;
    max-width: 750px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    font-size: 2em;
    font-weight: bold;
}

.modal-text {
    line-height: 1.3em;
    padding-top: 1em;
}

.close {
    color: #aaaaaa;
    font-size: 2em;
    font-weight: bold;
    transition-duration: 0.4s;
    position: absolute;
    top: .25em;
    right: .5em;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #363636;
    text-align: center;
}


.authors {
    color: #ffffff;
    font-size: 1em;
    padding: 1em;
}