@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Regular.ttf);
}
  
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background-color: #222222;
    overflow-x: hidden;
    transition-duration: 0.25s;
}

.header-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 1024px;
    padding: 4em 1.5em 2.5em;
}

.main-title {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    line-height: 1.25em;
}

.mode-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-button,
.mode-button {
    display: inline-block;
    background-color: #333333;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 1em 1.5em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.modal-button {
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #333333;
    border-bottom-left-radius: 10px;
}

.mode-button {
    border-top: none;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: none;
    border-bottom-right-radius: 10px;
}

.modal-button:hover,
.mode-button:hover {
    background-color: #ffffff;
    color: #333333;
}

.modal-button:focus,
.mode-button:focus {
    outline: none;
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 2em;
    width: 90%;
    max-width: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    color: #333333;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    font-weight: bold;
}

.modal-text {
    color: #222222;
    line-height: 1.3em;
    padding-top: 1em;
}

.close {
    color: #aaaaaa;
    font-size: 2em;
    font-weight: bold;
    transition-duration: 0.4s;
    position: absolute;
    top: .25em;
    right: .5em;
}
  
.close:hover,
.close:focus {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    text-align: center;
}

.authors {
    color: #ffffff;
    font-size: 1em;
    padding: 1em;
}

.light-mode {
    background-color: #ffffff;
    color: #333333;
}

.main-toggle {
    position: absolute;
    right: 120px;
    bottom: 70px;
}

.toggle-title {
    margin-bottom: 20px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    line-height: 1.25em;
}

.toggle {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #cecece;
    transition: .4s;
    -webkit-transition: .4s;
    cursor: pointer;
  }
  
  .toggle:before {
    bottom: 4px;
    left: 4px;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    transition: .7s;
    -webkit-transition: .7s;
    
  }

.change {
        
    width: 48px;
    height: 28px;
    display: inline-block;
    position: relative;
  }
  
  .change input { 
    height: 0;
    width: 0;
    opacity: 0;
  }
  
  
  input:checked + .toggle {
    background-color: rgb(1, 145, 78);
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 2px rgb(1, 145, 78);
  }
  
  input:checked + .toggle:before {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
  }
  
  .toggle.rounded {
    border-radius: 30px;
  }
  
  .toggle.rounded:before {
    border-radius: 50%;
  }